---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
// components
import BaseHead from '../../components/UI/header/BaseHead.astro';
import Header from '../../components/UI/header/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroProyectos from '@/sections/HeroProyectos.astro';
import Background from '@/components/UI/Background.astro';


const posts = (await getCollection('proyectos')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="container-custom">
		<Background />
		<Header />
		<main>
			<HeroProyectos />
			<section>
				<ul class="gap-5 grid grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))]">
					{
						posts.map((post) => (

							<li class="hover:bg-neutral-100 rounded-md w-full">
								<a href={`/proyectos/${post.slug}/`} class="group">
									<img width={720} height={360} class="rounded-md shadow-md object-cover group-hover:scale-105 max-h-40 lg:max-h-64 h-full w-full group-hover:-rotate-1 transition-all" src={post.data.heroImage} alt={post.data.title} />
									<h4 class="text-title-1 text-center text-nowrap text-ellipsis overflow-hidden pt-3 px-4 group-hover:underline mx-auto max-w-80">{post.data.title}</h4>
									<p class="-text-body-0 text-center max-w-80 mx-auto">{post.data.description}</p>
									<ul class="-text-body-0 flex gap-2 justify-center items-center pb-2">
										{
											post.data.tags?.slice(0, 2).map((tag: string) => (
												<li class="capitalize text-orange-500 px-1">{tag}</li>
											))
										}
									</ul>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
